{% extends 'base.html.twig' %}

{% block title %}Nouvelle Réservation{% endblock %}

{% block body %}
    <h1>Nouvelle Réservation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Créer</button>
    {{ form_end(form) }}

    {% if errors is defined and errors|length > 0 %}
        <div class="alert alert-danger">
            <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}